html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: DimGray;
}
#footer {
	clear: both;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#all-container {
	min-height: 100%;
	position: relative;
}
#header {
	padding: 0px;
}
#content {
	padding: 10px;
	padding-bottom: 40px; /* Height of the footer element */
}
#footer {
	height: 40px;
	position: absolute;
	bottom: 0;
	clear: both;

	color: white;
	font-family: Helvetica, Sans-Serif;
	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.card-container {
	/*background-color: #660000;*/
	min-width:100px; width: auto !important; width: 100px; 
	float: left;
	margin: 10px;
}
.card {
	font-family: Helvetica, Sans-Serif;
	font-size: large;
	font-weight: bold;
	
	width: 250px;
	height: 360px;
	border-radius: 10px;
	padding: 20px;
}
.q-color {
	background-color: black;
	color: white;
}
.a-color {
	background-color: white;
	color: black;
}


